
:root.theme-light {
  --title-color: #FFC2E6;
  --text-color: #353430;
  --subtitle-text-color: #353430;
  --accent-color: #ff8dcb;
  --button-color:#353430;
  --button-color-hover: rgba(50, 49, 45, 0.40);
  --background-color: #ffeef6;
  --background-image: url(../images/cover-image-light.png);
}

.theme-light .record-point {
  display: none; 
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #FFC2E6;
    --text-color: #353430;
    --subtitle-text-color: #353430;
    --accent-color: #ff8dcb;
    --button-color:#353430;
    --button-color-hover: rgba(50, 49, 45, 0.40);
    --background-color: #ffeef6;
    --background-image: url(../images/cover-image-light.png);
  }
  .record-point {
    display: none;
  }
}  
