
.page {
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
  font-family: var(--font-text, monospace);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 23.4px;
}


/* header */

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;;
  position: relative;
  padding: 20px;
  block-size: 100vh;
  min-block-size: 768px;
}

.header__title {
  color: var(--title-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: 700;
  line-height: 82.5%;
  margin-left: -20px;
}

.header__text {
  max-inline-size: 491px;
  justify-self: end;
  align-self: center;
}

.decorative__title-text {
  color: var(--subtitle-text-color);
  background-color: var(--accent-color);
  line-height: 23.4px;
  font-size: var(--font-size);
  font-weight: 700;
}

/* Оформление секций */

.section__title {
  font-weight: 700;
  background-color: var(--accent-color);
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--subtitle-text-color);
}

.question__title {
  font-size: var(--font-size);
  line-height: 23.4px;
  font-weight: bold;
  color: var(--button-color);
  max-inline-size: 315px;
}

.section__text {
  color: var(--text-color);
  font-size: var(--font-size);
}

.section__container-how .section__text {
  padding-block-start: 10px;
}

.low-font-weight {
  font-weight: 400;
}

.answer__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.answer__link:focus {
  outline: none;
}

.answer__link:focus-visible {
  border: 1px solid var(--text-color);
}

.answer__link:hover {
  border-bottom: 1px solid var(--text-color);
}

/* Секция Почему? */

.section__why {
  display: grid;
  grid-template-columns: 34% 66%;
  padding-block-start: 60px;
  margin: 0 20px;
}

.article__answer-why {
  display: grid;
  gap: 10px;
  align-content: start;
}

.article__answer-why p:first-of-type {
  padding-block-end: 10px;
}

 /* Секция Что? */

.section__what {
  padding-block-start: 80px;
  padding-block-end: 70px;
  margin: 0 20px;
}

.article__answer-what {
  display: grid;
  gap: 10px;
  align-content: start;
}

.article__answer-what p:first-of-type {
  padding-block-end: 10px;
}

.section__container-what {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-block-start: 20px;
}

/* Секция Как? */

.section__how {
  display: grid;
  grid-template-columns: 34% 66%;
  padding-block-end: 80px;
  margin: 0 20px;
}

.article__answer-how {
  display: grid;
  gap: 20px;
}

 /* Секция Галерея */

.section__gallery {
  padding-block-end: 60px;
}

.section__gallery-title {
  margin: 0 20px 20px 20px;
}

.section__gallery-container {
  display: grid;
  grid-template-areas: inherit;
  margin: 0 20px;
  gap: 20px;
}

.section__gallery-item {
  block-size: 100%;
  inline-size: 100%;
  object-position: center;
  object-fit: cover;
}

.section__gallery-item:first-of-type {
  grid-column: 1 / 3;
}

.section__gallery-item:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.section__gallery-item:nth-of-type(3) {
  grid-row: 2 / 4;
}

.section__gallery-item:nth-of-type(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.section__gallery-item:last-of-type {
  grid-column: 2 / 4;
}

 /* Навигация */

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--button-color);
  border: none;
  background: transparent;
  text-align: center;
  padding: 0 13px;
}

/* действия при навигации */

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-color-hover);
  cursor: pointer;
}

/* кнопка запись */

.record-point {
  content: "";
  color: var(--accent-color);
  display: flex;
  top: 0;
  right: 0;
  align-items: center;
  gap: 10px;
  text-align: center;
  position: absolute;
  padding-right: 8px;
  text-transform: uppercase;
  margin: 20px;
}

.record-point::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--button-color);
}

/* Декоративные углы */

.frame-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
  width: 25px;
  height: 25px;
  margin: 20px;
}

.frame-box::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid var(--button-color);
  border-left: 1px solid var(--button-color);
  width: 25px;
  height: 25px;
  margin: 20px;
}

/* footer */

.footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  block-size: 100vh;
  min-block-size: 768px;
  padding: 20px;
}

.footer__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-weight: 700;
  line-height: 82.5%;
}

/* Медиа запросы */

/* Медиа запрос для 768px; */

@media (width <= 768px) {

  .header {
    min-height: 1024px;
    padding: 20px;
  }

  .header__text {
    max-inline-size: 364px;
  }

  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 13px;
  }

  .question__title {
    max-inline-size: 236px;
    padding: 0;
  }

  .article__answer-what p:first-of-type {
    padding-block-end: 0;
  }

  .section__why, .section__how {
    grid-template-columns: 35% 65%;
  }

  .section__container-what {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block-start: 20px;
  }

  .section__how {
    margin-top: 10px;
  }

  .footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    min-height: 1024px;
  }
}

@media (width <= 375px) {

  .header {
    padding: 10px;
    min-height: 668px;
  }

  .header__title {
    padding-left: 15px;
  }

  .header__text {
    min-inline-size: 355px;
  }

  .section__why {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0 0 0;
    margin: 0 10px;
  }

  .section__what {
    padding-block-start: 50px;
    padding-block-end: 50px;
    padding-inline-end: 0;
    margin: 0 10px;
  }

  .question__title {
    max-inline-size: inherit;
  }

  .section__how {
    display: flex;
    flex-direction: column;
    padding-block-end: 50px;
    gap: 20px;
    margin: 0 10px;
  }

  .section__gallery {
    padding: 0 0 40px 0;
  }

  .section__gallery-title {
    margin: 0 10px 10px 10px;
  }

  .section__gallery-container {
    display: flex;
    margin: 0 10px;
    gap: 10px;
    flex-direction: column;
  }

  .footer {
    display: flex;
    justify-content: center;
    padding: 10px; 
    min-height: 668px;
  }

  .record-point {
    margin: 10px;
  }

  .frame-box::before {
    margin: 10px;
  }
  
  .frame-box::after {
    block-size: 25px;
    margin: 10px;
  }

}