:root {
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --subtitle-text-color: #00002b;
  --accent-color: #ff0070;
  --font-text: 'IBM Plex mono';
  --font-size: 18px;
  --button-color: #ff0070;
  --button-color-hover: rgba(255, 0, 112, 0.40);
  --background-image: url(../images/cover-image-dark.png);
}